<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Chatroom Life</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
  <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">톡창인생</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/community">커뮤니티</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">준비중...</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">준비중...</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="mx-auto mt-5" style="width: 700px;">

        <h4 class="text-center">글을 작성하는 공간입니다.</h4>
        
        <div id="write_area">
            <form action="/postUpdate/{{ post.time }}" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Writer</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="writer" name="writer" value="{{ post.writer }}">
                </div>
                
                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="password" value="{{ post.password }}">
                <div id="passwordHelpBlock" class="form-text">
                Password는 해당 게시물을 수정, 삭제할때 사용됩니다.
                </div>
                
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name="title" value="{{ post.title }}">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content">{{ post.content }}</textarea>
                </div>

                 
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>

    </div>
    <!-- <div class="container px-4 px-lg-5 mt-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
